<p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
<br/>
<div id="main-div">
<ng-container class="card" style="text-align:center">
    <p-card  title="{{languageData.Welcome}}" styleClass="ui-card-shadow">
        <form [formGroup]="searchFormGroup" (ngSubmit)="SearchTrains()">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="ui-g-4">
                      <span>{{languageData.Source}}</span>
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="stations" [style]="{'width':'200px'}" editable="true"
                            placeholder="{{languageData.Station}}" formControlName="source"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div class="ui-g-4">
                     <span>{{languageData.Destination}}</span>
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="stations" formControlName="destination" [style]="{'width':'200px'}"
                            editable="true" placeholder="{{languageData.Station}}"></p-dropdown>
                    </div>
                </div>
              <!-- ======================= Region for Centering Calender Control===============     -->
                <div class="ui-g-12 ui-md-3 ui-lg-3">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 ">
                    <div class="ui-g-4 ">
                     <span> {{languageData.Doj}}</span>
                    </div>
                    <div class="ui-g-8">
                        <p-calendar [minDate]="minDate" formControlName="dateOfJourney" [maxDate]="maxDate"
                            [readonlyInput]="true" ></p-calendar>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-3">
                </div>
           <!-- ======================= End of Region for Centering Calender Control===============     -->
            <!-- ======================= Region for Centering Button===============     -->
                <div class="ui-g-12 ui-md-3 ui-lg-3">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3 ">
                    <button pButton label="{{languageData.Search}}"[disabled]="!searchFormGroup.valid" type="submit"  class="ui-button-raised ui-button-primary"></button>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3 ">
                    <button pButton label="{{languageData.Reset}}" type="reset" (click)="this.trainsList=[]" class="ui-button-raised ui-button-warning"></button>
                </div>
                <div class="ui-g-12 ui-md-3 ui-lg-3">
                </div>
             <!-- ======================= End of Region for Centering Button===============     -->
            </div>
        </form>
    </p-card>
</ng-container>
</div>
    <p-table [value]="trainsList" [columns]="columns"  [paginator]="true" [rows]="rowLength" [responsive]="true" *ngIf="this.trainsList.length>0" [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" pResizableColumn >
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    <div *ngIf="col.field!='proceed'">
                        {{rowData[col.field]}}
                    </div>
                    <div *ngIf="col.field == 'proceed'">
                        <button pButton label="{{languageData.Proceed}}"[disabled]="!rowData.isAvailable" (click)="ViewTrainDetails(rowData)" type="button"  class="ui-button-raised ui-button-primary"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
