<p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
<br/>
<p-card title="{{languageSettings.TrainDetails}}" styleClass="ui-card-shadow">
    <p-header>
        <a href="#">Back to Search</a>
    </p-header>
    <table id="bordered">
            <tr>
                <th *ngFor="let item of columns">{{item}}</th>
                <th></th>
            </tr>
            <tr>
                <td>{{selectedTrain?.selectedData.trainNumber}}</td>
                <td>{{selectedTrain?.selectedData.trainName}}</td>
                <td>{{selectedTrain?.from.label}}</td>
                <td>{{selectedTrain?.to.label}}</td>
                <td>{{selectedTrain?.selectedData.departure}}</td>
                <td>{{selectedTrain?.selectedData.arrival}}</td>
                <td>{{selectedTrain?.searchData.dateOfJourney  | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <button pButton [disabled] ="disable" type="button" label="{{languageSettings.ConfirmBooking}}" (click)="Confirm();this.disable=true" icon="pi pi-check" style="margin-right: .25em"></button>
                </td>
            </tr>
    </table>

</p-card>
